// Headers
h1, h2, h3 {
  font-family: $head-font;
}

h1 {
  text-transform: uppercase;
  font-size: 2.3em;
  color: $white;
}
@media screen and (min-width: 40em) {
  h1 {
    font-size: 3em;
  }
}

h2 {
  font-size: 2em;
  color: $primary;
}

h3 {
  font-size: 1.5em;
  color: $primary;
}

h4 {
  font-family: $main-font;
  font-size: 1.1em;
  text-transform: uppercase;
  color: $primary;
  font-weight: 800;
}

.nav-header {
  font-family: $head-font;
  text-transform: lowercase;
  font-size: 3em;
  color: $white;
}

.color-inverse {
  color: $primary;
}

.color-inverse h1 {
  color: $primary;
}




//Header on homepage
.hero-header {
  font-size: 2.8em;
}

@media screen and (min-width: 40em) {
  .hero-header {
    font-size: 4em;
  }
}

@media screen and (min-width: 64em) {
  .hero-header {
    font-size: 6em;
  }
}







//Body Styles
body {
  font-family: $main-font;
}

p {
  font-family: $main-font;
  font-size: 1em;
  color: $primary;
  padding: 20px;
}

.featured-paragraph {
  color: $white;
  text-transform: uppercase;
  font-size: 1.5em;
  padding-top: 60px;
}

.no-padding {
  padding: 0px;
}

.no-margin {
  margin: 0;
}

.margin-top-only {
  margin-top: 30px;
}

a {
  color: $artic;
}

.pink-link {
  color: $taffy;
}





// Text Alignments
.left {
  text-align: left;
}

.center {
  text-align: center;
  margin: 0 auto;
}

.right {
  text-align: right;
}



// Text Transformations
.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: 800;
}


// Color Invert
.dark-color-invert {
  color: white;
}
