//*********************************************
//***************** COLORS ********************
//*********************************************

// Primary Palette
$primary: #000000;
$background: #f8f8ff;
$charcoal: #363636;


// Extended Palette
$taffy: #ef529f;
$artic: #06abd8;
$tiger: #f5791f;
$plum: #af4398;
$blueberry: #243783;
$white: #ffffff;






//*********************************************
//****************** TYPE *********************
//*********************************************

$main-font: 'Gotham', sans-serif;
$head-font: 'Harbour', serif;

$small: .8em;
$normal: 1em;
$large: 2em;
$xlarge: 4em;



//*********************************************
//***************** OTHER *********************
//*********************************************