/**
 * Variables
 * =================================
 * - Main Background / Foreground
 * - Brand Palette
 *
 *
 */


// Background and Foreground colors.
// All fonts and headers (unless overwritten) will be effected.

$primary: #000000;
$background: #f8f8ff;
$charcoal: #363636;



// Brand palette colors.
// Use the color type as opposed to "secondary" or "tertiary" or something.

$taffy: #ef529f;
$artic: #06abd8;
$tiger: #f5791f;
$plum: #af4398;
$blueberry: #243783;
$white: #ffffff;