/**
 * Buttons
 * =================================
 * - Base
 * - Button V1
 * - Button V2
 * - Button V3
 *
 */


//*********************************************
//******************* Base ********************
//*********************************************
.buttons {
  text-align: center;
  margin-bottom: 10px;
}

.btn-hover {
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  transition: all .4s ease-in-out;
}

.btn-extended{
  width: 100%;
  margin: 0;
  font-size: 1.5em;
}

.btn-hover:hover {
  background-position: 100% 0;
  transition: all .4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}


//*********************************************
//***************** Color 1 *******************
//*********************************************

.btn-hover.color-1 {
  background-image: linear-gradient(to right, $taffy, $artic, $artic, $plum);
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.55);
}

.btn-hover.color-1-alt {
  background-image: linear-gradient(to right, $taffy, $artic, $artic, $plum);
}




//*********************************************
//***************** Color 2 *******************
//*********************************************
.btn-hover.color-2 {
  background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0), $taffy, $artic);
  border: 2px solid black;
  border-radius: 30px;
  margin-bottom: 15px;
  color: $primary;
}


//*********************************************
//***************** Color 3 *******************
//*********************************************
.btn-hover.color-3 {
  background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0), $taffy, $artic);
  border: 2px solid white;
  border-radius: 30px;
  margin-bottom: 15px;
  color: white;
}
