/**
 * Cells
 * =================================
 * - Homepage Cells
 *
 *
 *
 */

// Image Banners
.image-banner {
  height: 200px;
  margin-bottom: 30px;
  position: relative;
}

.image-banner-large {
  height: 400px;
  margin-bottom: 30px;
  position: relative;
}