/**
 * Headers
 * =================================
 * - Homepage Header
 * - Subpage Headers
 * - Hero
 *
 *
 * Body font size, headings etc have been set in /variables
 *
 *
 */


//*********************************************
//************* Homepage Header ***************
//*********************************************
.hero-header {
  font-size: 2.8em;
}

@media screen and (min-width: 40em) {
  .hero-header {
    font-size: 4em;
  }
}

@media screen and (min-width: 64em) {
  .hero-header {
    font-size: 6em;
  }
}

.front-page-hero {
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  padding-bottom: 100px; // this pulls the text UP to be centered since the hidden background on the navbar makes it appear off center
}





//*********************************************
//************** Subpage Header ***************
//*********************************************
.subpage-header {
  font-family: $head-font;
  text-transform: lowercase;
  font-size: 3em;
  color: $background;
}

.color-inverse {
  color: $primary;
}

.color-inverse h1 {
  color: $primary;
}

@media screen and (max-width: 39.9375em) {
  .mobile-header {
    h1 {
      font-size:2em;
    }

    h2 {
      font-size:1.3em;
    }

    h3 {
      font-size: .9em;
    }
  }
}